*{
    font-family: 'Poppins', sans-serif;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 1024px and up) */ 
@media only screen and (min-width: 1024px) {}
/*  large devices (large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
    .level3{
        width: 100%;
        height: 100%;
        background-image: url("../img/Join-US-BG-1.jpg");
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .level3 h2{
        font-size: 55px;
        text-align: center;
        color: white;
    }
    .level3 hr{
        width:6%;
        height: 1%;
        transform: skew(-15deg);
        background-color: rgb(12, 12, 167);
        position: absolute;
        left: 46.5%;
        top: 7%;
    }
    .level3 .chestl3{
        width: 35%;
        height: 26.5%;
        background-image: url("../img/chest\ _advanced.jpg");
        background-size: cover;
        background-position: center center;
        border-radius: 2rem;
        position: absolute;
        top: 11%;
        left: 10%;
    
    }
    .chestl3 a{
        position: relative;
        top: 40%;
        left: 25%;
    }
    .level3 .absl3{
        width: 35%;
        height: 26.5%;
        background-image: url("../img/abs_advanced.jpg");
        background-size: cover;
        background-position: center center;
        border-radius: 2rem;
        position: absolute;
        top: 11%;
        right: 10%;
    }
    .absl3 a{
        position: relative;
        top: 40%;
        left: 30%;
    }
    .level3 .arml3{
        width: 35%;
        height: 26.5%;
        background-image: url("../img/arm_advanced.jpg");
        background-size: cover;
        background-position: center center;
        border-radius: 2rem;
        position: absolute;
        top: 40%;
        left: 10%;
    }
    .arml3 a{
        position: relative;
        top: 40%;
        left: 27%;
    }
    .level3 .legl3{
        width: 35%;
        height: 26.5%;
        background-image: url("../img/leg\ _advanced.jpg");
        background-size: cover;
        background-position: center center;
        border-radius: 2rem;
        position: absolute;
        top: 40%;
        right: 10%;
    }
    .legl3 a{
        position: relative;
        top: 40%;
        left: 30%;
    }
    .level3 .Shoulderl3{
        width: 50%;
        height: 30%;
        background-image: url("../img/shoulders&back_advanced.jpg");
        background-size: cover;
        background-position: center center;
        border-radius: 2rem;
        position: absolute;
        top: 67.5%;
        left: 25%;
    }
    .Shoulderl3 a{
        position: relative;
        top: 40%;
        left: 25%;
    }
    .level3 a{
        border: none;
        color:rgb(56, 56, 181);
        font-size: 25px;
    }
}

